html,
body {
    height: 100%;
    margin: 0;
    font-size: 9px;
}

.page {
    height: 100vh;
    display: grid;
    grid-template-rows: 3.5rem 1fr;
}

#KPIDashboard {
    overflow: auto;
    padding: 1rem;
}

#SummaryNumbers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}


.KpiCard {
    background-color: #F5F5F5;
    border-radius: 1.5rem;
    height: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.KpiName {
    color: #243985;
    font: 500 1.2rem Arial, sans-serif;
}

.KpiValue {
    color: #941851;
    font: 600 1.5rem Arial, sans-serif;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid {
    background-color: #F5F5F5;
}

.navbar-brand {
    color: #941851;
}

.chart {
    font: 500 1.5rem Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: center;
    margin: 14px 0;
}

.label {
    color: #1f4aa8;
    white-space: nowrap;
    padding: 0;
    font-size: 1.2rem;
}

.bar-wrap {
    background: transparent;
    padding: 0;
}

.bar {
    position: relative;
    height: 25px;
    background: #941851;
    border-radius: 5px;
}

.value {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #F5F5F5;
    font-weight: 600;
}

.wrapLineChart {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapLineChartH2 {
    color: #898989;
}

canvas {
    background: #fff;
}

